<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>911 Call AI Model Integration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
          
            <h1>911 rEsQ</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('demo') }}">Use Our App</a></li> 
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="hero">
                <h2>How we made 911 resQ</h2>
                <p>Using a combination of web dev and AI tools.</p>
            </section>
            
            <section class="features">
            
                <div class="feature">
                    <h3>1. HTML, CSS, VSCode</h3>
                    <p>form the base of our website and UI design.</p>
                </div>
                <div class="feature">
                    <h3>2. HumeAI</h3>
                    <p>helps us detect and classify the emotions of each 911 call audio file.</p>
                </div>
                <div class="feature">
                    <h3>3. Flask, Streamlit</h3>
                    <p>helps integrate the AI model and website with each other.</p>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 911 Call AI Model Integration. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
