<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>911 Call AI Model Integration - Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="style.css">
</head>
<body>
    


    <header>
        <div class="container">
            <h1>911 rEsQ</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('demo') }}">Use Our App</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="hero">
                <h2>Use Our App</h2>
                <p>Upload an audio file for saving audio files on your computer and evaluate its sentiment and/or text script to see its summarized version.</p>
            </section>

            <section class="upload">
                <h3>Upload Audio File</h3>
                <form action="{{ url_for('demo') }}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="audio/*">
                    <button type="submit">Save Audio File</button>
                </form>
                <p><br></p>
                <form action="your_audio_sentiment_link_here" method="GET">
                    <button type="submit">Evaluate Audio Sentiment</button>
                </form>
            </section>
            <section class="upload">
            <h1>Summarize Text Transcript of 911 Calls</h1>
            <form action="{{ url_for('demo') }}" method="post">
                <textarea name="text" rows="10" cols="50" placeholder="Enter text to summarize"></textarea>
                <button type="submit" name="action" value="summarize">Summarize</button>
            </form>
    
            {% if summary %}
                <h2>Summary</h2>
                <p>{{ summary }}</p>
            {% endif %}
        </section>
            
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 911 Call AI Model Integration. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
