<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>911 Call AI Model Integration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>911 rEsQ</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                     <li><a href="{{ url_for('demo') }}">Use Our App</a></li> 
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="hero">
                <h2>Welcome to 911 rEsQ</h2>
                <p>An AI application that cleans up and analyzes the emotions in a 911 call.</p>
            </section>
            
            <section class="features">
            
                <div class="feature">
                    <h3>Fast.</h3>
                    <p>Our HumeAI model is able to detect emotions/sentiment after listening to a 911 call within a second.</p>
                </div>
                <div class="feature">
                    <h3>Accurate.</h3>
                    <p>Our model is able to detect emotions with almost 100% accuracy.</p>
                </div>
                <div class="feature">
                    <h3>Free.</h3>
                    <p>Our application is free and accessible to everyone around the world.</p>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 911 Call AI Model Integration. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
